<body>


<a href="api/generate?type=numstr&length=30">Генерация</a> <br>
<a href="api/retrieve">Ответ</a>

<ul>
    <li> Параметры генерации:</li> <br>
    <li> Строка - string</li>
    <li> GUID  - guid</li>
    <li> Цифробуквенное - numstr</li>
    <li> Число - num </li> <br>
    <li> length - длина ключа</li>

</ul>

</body>
